fastapi[standard]
peft
poppler-utils
langchain
langchain_huggingface
langchain_chroma
langchain_community
unstructured[all-docs]
pymupdf
pydantic
lxml
langchain-chroma
tiktoken
sentence-transformers
pillow
#torch
transformers[torch]
blobfile
